.font-tile-sub {
    font-size: 11px;
}

.font-tile {
    font-size: 18px;
}

.hv {
    font-family: Helvetica, Arial, sans-serif;
}

.font-b {
    font-weight: bold;
}

.font-l {
    font-weight: lighter;
}

.font-input {
    font-size: 12px;
}

.hv-light {
    font-family: HelvLight, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.font-title {
    font-size: 24px;
}

.font-title-small {
    font-size: 20px;
}

.font-title-sub {
    font-size: 13px;
}

.hv-neue {
    font-family: Arial, Helvetica, sans-serif;
}

.os {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}